.contacts
    a.contact(href='tel:+380931111111')
        i.fas.fa-phone-square.contact__icon
        span.contact__taxt +380 93 111 11 11
    a.contact(href="mailto:info@gmail.com")
        i.fas.fa-at.contact__icon.contact__icon--email
        span.contact__text info@gmail.com
    a.facebook-icon(href="https://www.facebook.com" target="_blank")
        i.fab.fa-facebook